html {
  scroll-behavior: smooth;
  background-color: tan;
}

#root {
  background-color: tan;
}

.font-link {
  font-family: 'Fjalla One', sans-serif;
}

.btn {
  margin-right: 5px;
  margin-left: 5px;
}